<nz-layout class="layout">
    <nz-header style="background: #fff; padding:0;" class="header">
        <div class="pull-left">
            <a href="" id="logo">
                <img alt="logo" src="../../assets/img/logo.svg">
                <img alt="NG-ZORRO" src="../../assets/img/zorro.svg">
            </a>
            <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
               (click)="isCollapsed=!isCollapsed"></i>
            <nz-breadcrumb class="breadcrumb">
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>
        <div class="pull-right">
            <nz-dropdown [nzTrigger]="'click'" class="user-dropdown">
                <a nz-dropdown>Admin <i nz-icon type="down"></i></a>
                <ul nz-menu>
                    <li nz-menu-item>个人中心</li>
                    <li nz-menu-item>修改密码</li>
                    <li nz-menu-item>退出登录</li>
                </ul>
            </nz-dropdown>
            <img src="../../assets/img/user.jpg" alt="" class="user">
            <i nz-icon type="bell" class="message" theme="outline"></i>
        </div>
    </nz-header>
    <nz-layout>
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
            <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
                <ng-container *ngFor="let i of navigation">
                    <li nz-submenu *ngIf="i.children != undefined">
                        <span title>
                            <i nz-icon type="user"></i>
                            <span class="nav-text">{{i.name}}</span>
                        </span>
                        <ul>
                            <li nz-menu-item *ngFor="let child of i.children">{{child.name}}</li>
                        </ul>
                    </li>
                    <li nz-menu-item *ngIf="i.children == undefined">
                        <span>
                            <i nz-icon type="file"></i>
                            <span class="nav-text">{{i.name}}</span>
                        </span>
                    </li>
                </ng-container>
            </ul>
        </nz-sider>
        <nz-layout>
            <nz-content style="margin:0 16px;">
                <div style="padding:24px; background: #fff; height: 2000px;">
                    Bill is a cat.
                </div>
            </nz-content>
            <nz-footer class="footer">Ant Design ©2017 Implement By Angular</nz-footer>
        </nz-layout>
    </nz-layout>
</nz-layout>
